body{
  margin: 8px;
  padding: 8px;
  border: 5px solid gray;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  min-width: 90vw;
  min-height: 80vh;
  display: flex;
  justify-content: center;
}

